<div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-md-6">
        <div class="auth-wrapper">
            <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="registerUser()">
                <h3 class="h3 mb-3 font-weight-normal text-center">Por favor registrese</h3>
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Nombre" required autofocus>
                </div>
                <div class="form-group">
                    <label>Correo</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="correo" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-block btn-primary">Registrarme</button>
            </form>
        </div>
    </div>
</div>

